.vertical-line{
  display: inline-block;
  border-left: 1px solid #ccc;
  margin: 0 10px;
  height: 320px;
}

body, html, #root {
  background-color: #F2F3F4;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

@media print {
  html, body {
    height: 100vh; /* Use 100% here to support printing more than a single page*/
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    background-color: white;
  }

  .menu-card {
    box-shadow: none;
  }

  .hide-print {
    display: none;
  }
}

.bg-image {
  background-image: url('./assets/download-7.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  border: solid purple 2px;
}